@model Wmsds.Web.Models.HEISDataEntryDto

@section styles{
    <!-- Include SmartWizard CSS -->
    <link href="../content/assets/plugins/smart-wizard/css/smart_wizard.css" rel="stylesheet" type="text/css" />
    <!-- Optional SmartWizard theme -->
    <link href="../content/assets/css/pages/smart-wizard/smart_wizard_theme_circles.css" rel="stylesheet" type="text/css" />
    <link href="../content/assets/css/pages/smart-wizard/smart_wizard_theme_arrows.css" rel="stylesheet" type="text/css" />
    <link href="../content/assets/css/pages/smart-wizard/smart_wizard_theme_dots.css" rel="stylesheet" type="text/css" />

}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">HEIS</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">DataEntry</li>
                </ol>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card card-topline-aqua">
                <div class="card-head">
                    <header>HEIS Identification</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <b>
                                    Farmer Name:&nbsp;&nbsp;&nbsp;
                                </b> @Model.HeisIdentification.FarmerName
                            </div>
                            <div><b>Farmer CNIC: &nbsp;&nbsp;&nbsp;</b> @Model.HeisIdentification.FarmerCNIC</div>
                            
                        </div>
                        <div class="col-md-6">

                            <div><b>District:&nbsp;&nbsp;&nbsp; </b> @Model.HeisIdentification.DistrictName </div>
                            <div><b>Tehsil:&nbsp;&nbsp;&nbsp; </b>  @Model.HeisIdentification.TehsilName </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- add content here -->
        <div class="container">
            <form class="form-inline wizard-form">
                <div class="form-group" style="display:none;">
                    <label>Choose Theme:</label>
                    <select id="theme_selector" class="form-control">
                        <option value="arrows" selected>arrows</option>
                        <option value="default">default</option>

                        <option value="circles">circles</option>
                        <option value="dots">dots</option>
                    </select>
                </div>
            </form>
            <br />

            <!-- SmartWizard html -->
            <div id="smartwizard">
                <ul>
                    <li><a href="#step-1">Step 1<br /><small>Basic Information</small></a></li>
                    <li><a href="#step-2">Step 4<br /><small>Works Executed</small></a></li>
                </ul>
                <div>
                    <div id="step-1" class="">
                        <form id="frmBasicInformation" name="frmBasicInformation">
                            <input type="hidden" id="hdHeisIdentificationIdBI" name="hdHeisIdentificationIdBI" value="@Model.HeisIdentification.Id">
                            <input type="hidden" id="hdHeisIdentificationDetailsIdBI" name="hdHeisIdentificationDetailsIdBI" value="@Model.HeisIdentificationDetail.Id">
                            <fieldset>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label>Latitude</label>
                                                @Html.TextBox("txtLatitude", Model.HeisIdentificationDetail.Latitude,
                                               new { @class = "form-control", @id = "txtLatitude", @placeholder = "", required = "required", type = "number" })
                                            </div>
                                            <div class="form-group">
                                                <label>Longitude </label>
                                                @Html.TextBox("txtLongitude", Model.HeisIdentificationDetail.Longitude, new
                                                {
                                                    @class = "form-control"
                                               ,
                                                    @id = "txtLongitude",
                                                    @placeholder = "",
                                                    required = "required",
                                               type = "number"
                                           })

                                            </div>
                                            <div class="form-group">
                                                <label>Installation Type</label>
                                                <select id="ddlInstallationType" name="ddlInstallationType" class="form-control" required>
                                                    <option value="">--Select--</option>
                                                    <option value="Regular">Regular</option>
                                                    <option value="Extension">Extension</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Fiscal Year</label>
                                                <select id="ddlFiscalYear" name="ddlFiscalYear" class="form-control" required>
                                                    <option value="">--Select--</option>

                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>System Type</label>
                                                <select id="ddlSystemType" name="ddlSystemType" class="form-control" required>
                                                    <option value="">--Select--</option>

                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>SSC Name</label>
                                                <select id="ddlSSCName" name="ddlSSCName" class="form-control" required>
                                                    <option value="">--Select--</option>
                                                    <option value="4B Fertilizers">4B Fertilizers</option>
                                                    <option value="Aaban Nano Technologies">Aaban Nano Technologies</option>
                                                    <option value="Agri. Engineering Services">Agri. Engineering Services</option>
                                                    <option value="Agroten Traders">Agroten Traders</option>
                                                    <option value="Al-Ghazi Tractors Ltd.">Al-Ghazi Tractors Ltd.</option>
                                                    <option value="Ali Akbar">Ali Akbar</option>
                                                    <option value="Alpha Pipes">Alpha Pipes</option>
                                                    <option value="Anchor Commodities">Anchor Commodities</option>
                                                    <option value="Drip Irrigation System Co.">Drip Irrigation System Co.</option>
                                                    <option value="Eminent Engineering ">Eminent Engineering </option>
                                                    <option value="Falcon Traders">Falcon Traders</option>
                                                    <option value="Farm Dynamics">Farm Dynamics</option>
                                                    <option value="Haji Sons">Haji Sons</option>
                                                    <option value="HydroMech">HydroMech</option>
                                                    <option value="Innovators Engineering Co.">Innovators Engineering Co.</option>
                                                    <option value="Jaffar Brothers Ltd.">Jaffar Brothers Ltd.</option>
                                                    <option value="Manzoor Alam& Sons">Manzoor Alam& Sons</option>
                                                    <option value="Micro Drip">Micro Drip</option>
                                                    <option value="Mishaq Enterprises">Mishaq Enterprises</option>
                                                    <option value="New Tech">New Tech</option>
                                                    <option value="Orbit Links">Orbit Links</option>
                                                    <option value="Polo Aabyari">Polo Aabyari</option>
                                                    <option value="Royal Construction Co.">Royal Construction Co.</option>
                                                    <option value="Shad Abad">Shad Abad</option>
                                                    <option value="Sun International">Sun International</option>
                                                    <option value="Uni Drip">Uni Drip</option>
                                                    <option value="Valley Irrigation">Valley Irrigation</option>
                                                    <option value="Water CON">Water CON</option>
                                                    <option value="Zarkaasht (Dadex)">Zarkaasht (Dadex)</option>
                                                    <option value="Everest Plastics">Everest Plastics</option>
                                                    <option value="Royal Irrigation Systems">Royal Irrigation Systems</option>
                                                    <option value="Natural Resources Management Technologies">Natural Resources Management Technologies</option>
                                                    <option value="Agrex Enterprises">Agrex Enterprises</option>
                                                    <option value="Haji Sons International">Haji Sons International</option>
                                                    <option value="Pak-Belgium">Pak-Belgium</option>
                                                    <option value="Sohail Ch & Co">Sohail Ch & Co</option>
                                                    <option value="M/s Alhmmdali Intl Trade Co">M/s Alhmmdali Intl Trade Co</option>
                                                    <option value="M/s Festoon Engineering Works">M/s Festoon Engineering Works</option>
                                                    <option value="Alflah Irrigation & Landscape">Alflah Irrigation & Landscape</option>
                                                    <option value="M/s Jaffar Agro Services">M/s Jaffar Agro Services</option>
                                                    <option value="M/s Multi Trades International">M/s Multi Trades International</option>

                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>Project Name</label>
                                                <select id="ddlProjectName" name="ddlProjectName" class="form-control" required>
                                                    <option value="">--Select--</option>
                                                    <option value="PIPIP">PIPIP</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-md-6 col-sm-6">

                                            <div class="form-group">
                                                <label>Village Name/Number</label>
                                                @Html.TextBox("txtVillageName", Model.HeisIdentificationDetail.VillageName,
                                               new
                                                    {
                                                        @class = "form-control",
                                                        @id = "txtVillageName",
                                                        @placeholder = "",
                                                   required = "required",
                                                        type = "number"
                                                    })
                                            </div>
                                            <div class="form-group">
                                                <label>Contact number</label>
                                                @Html.TextBox("txtContactNumber", Model.HeisIdentificationDetail.ContactNumber, new { @class = "form-control", @id = "txtDesignDischarge", @placeholder = "", required = "required", type = "number" })
                                            </div>
                                            <div class="form-group">
                                                <label>Soil type</label>
                                                <select id="ddlSoiltype" name="ddlSoiltype" required class="form-control">
                                                    <option value="">--Select--</option>
                                                    <option value="Loam">Loam</option>
                                                    <option value="Sandy">Sandy</option>
                                                    <option value="Clay">Clay</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Scheme Area (Acres)</label>
                                                @Html.TextBox("txtSchemeArea", Model.HeisIdentificationDetail.SchemeArea, new
                                                {
                                                    @class = "form-control",
                                               @id = "txtSchemeArea",
                                                    @placeholder = "",
                                                    required = "required",
                                                    type = "number"
                                                })
                                            </div>
                                            <div class="form-group">
                                                <label>Water Source</label>
                                                <select class="form-control" id="ddlWaterSource" name="ddlWaterSource" required>
                                                    <option value="">--Select--</option>
                                                    <option value="Tubewell">Tubewell</option>
                                                    <option value="Canal">Canal</option>
                                                    <option value="Canal+Tubewell">Canal+Tubewell</option>
                                                    <option value="Others">Others</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Water Quality</label>
                                                <select class="form-control" id="ddlWaterQuality" name="ddlWaterQuality" required>
                                                    <option value="">--Select--</option>
                                                    <option value="Fit">Fit</option>
                                                    <option value="Unfit">Unfit</option>
                                                    <option value="Marginally Fit">Marginally Fit</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Power Source</label>
                                                <select class="form-control" id="ddlPowerSource" name="ddlPowerSource" required>
                                                    <option value="">--Select--</option>
                                                    <option value="Electric Motor">Electric Motor</option>
                                                    <option value="Diesel Engine">Diesel Engine</option>
                                                    <option value="Solar">Solar</option>
                                                    <option value="Tractor PTO">Tractor PTO</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Crop Category</label>
                                                <select class="form-control" id="ddlCropCategory" name="ddlCropCategory" required>
                                                    <option value="">--Select--</option>
                                                    <option value="Row Crops">Row Crops</option>
                                                    <option value="Field Crops">Field Crops</option>
                                                    <option value="Orchard">Orchard</option>
                                                    <option value="Vegetables">Vegetables</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Crop Name</label>
                                                <select class="form-control" id="ddlCropCategory" name="ddlCropCategory" required>
                                                    <option value="">--Select--</option>
                                                    <option value="Row Crops">Drop down from concerned Crop Category (attached)</option>

                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>Plants per Acre (Nos.)</label>
                                                @Html.TextBox("txtPlansPerAcre", Model.HeisIdentificationDetail.PlansPerAcre, new
                                                {
                                                    @class = "form-control",
                                               @id = "txtPlansPerAcre",
                                                    @placeholder = "",
                                                    required = "required",
                                               type = "number"
                                           })
                                            </div>
                                            <div class="form-group">
                                                <label>System Classification</label>
                                                <select class="form-control" id="ddlSystemClassification" name="ddlSystemClassification" required>
                                                    <option value="">--Select--</option>
                                                    <option value="Dripper">Dripper</option>
                                                    <option value="Inline Drip">Inline Drip</option>
                                                    <option value="Micro Sprinkler">Micro Sprinkler</option>
                                                    <option value="Spray Jet">Spray Jet</option>
                                                    <option value="Bubbler">Bubbler</option>
                                                    <option value="Rain Gun">Rain Gun</option>
                                                    <option value="Mini Sprinkler">Mini Sprinkler</option>
                                                    <option value="Center Pivot">Center Pivot</option>
                                                    <option value="Linear Move">Linear Move</option>
                                                    <option value="Reel">Reel</option>

                                                </select>
                                            </div>
                                            @*Design Parameters*@
                                            <div class="form-group">
                                                <label>Design approved</label>
                                                <select id="ddlWorkOrderIssued" name="ddlWorkOrderIssued" class="form-control" required>
                                                    <option value="">--Select--</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="Yes">No</option>
                                                    <option value="Offered">Offered</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Design Approval Date </label>
                                                @Html.TextBox("txtDesignApprovalDate", Model.HeisIdentificationDetail.DesignApprovalDate,
                                               new { @class = "form-control", @id = "txtDesignApprovalDate", @placeholder = "", required = "required" })
                                            </div>

                                            <div class="form-group">
                                                <label>Total Approved Project Cost (Rs.) </label>
                                                @Html.TextBox("txtTotalApprovedProjectCost", Model.HeisIdentificationDetail.TotalApprovedProjectCost,
                                               new { @class = "form-control", @id = "txtTotalApprovedProjectCost", @placeholder = "", required = "required", type = "number" })
                                            </div>
                                            <div class="form-group">
                                                <label> Total Dynamic Head (meter)</label>
                                                @Html.TextBox("txtTotalDynamicHead", Model.HeisIdentificationDetail.TotalDynamicHead,
                                               new { @class = "form-control", @id = "txtTotalDynamicHead", @placeholder = "", required = "required", type = "number" })
                                            </div>
                                            <div class="form-group">
                                                <label>Pump Type</label>
                                                <select id="ddlImprovementType" name="ddlImprovementType" class="form-control" required>
                                                    <option value="">--Select--</option>
                                                    <option value="Centrifugal">Centrifugal</option>
                                                    <option value="Submersible">Submersible</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Pump Flow Rate (LPS) </label>
                                                @Html.TextBox("txtPumpFlowRate", Model.HeisIdentificationDetail.PumpFlowRate,
                                               new { @class = "form-control", @id = "txtPumpFlowRate", @placeholder = "", required = "required", type = "number" })
                                            </div>
                                            <div class="form-group">
                                                <label>Power Source Efficiency (%) </label>
                                                @Html.TextBox("txtPowerSourceEfficiency", Model.HeisIdentificationDetail.PowerSourceEfficiency,
                                               new { @class = "form-control", @id = "txtPowerSourceEfficiency", @placeholder = "", required = "required", type = "number" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    
                    <div id="step-2" class="">
                        <form id="frmFCR" name="frmFCR">
                            <input type="hidden" id="hdHeisIdentificationIdFCR" name="hdHeisIdentificationIdFCR" value="@Model.HeisIdentification.Id">
                            <input type="hidden" id="hdHeisIdentificationDetailsIdFCR" name="hdHeisIdentificationDetailsIdFCR" value="@Model.HeisIdentificationDetail.Id">
                            <fieldset>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>Work Order Issued</label>
                                                <select id="ddlWorkOrderIssued" name="ddlWorkOrderIssued" class="form-control" required>
                                                    <option value="">--Select--</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="Yes">No</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtWorkOrderIssueDate">Latitude</label>
                                                @Html.TextBox("txtWorkOrderIssueDate", Model.HeisIdentificationDetail.WorkOrderIssueDate,
                                               new
                                                    {
                                                        @class = "form-control",
                                                        @id = "txtWorkOrderIssueDate",
                                                        @placeholder = "",
                                                        required = "required"
                                                })
                                            </div>
                                            <div class="form-group">
                                                <label>Work Order Amount (Rs.) </label>
                                                @Html.TextBox("txtWorkOrderAmount", Model.HeisIdentificationDetail.WorkOrderAmount,
                                               new { @class = "form-control", @id = "txtWorkOrderAmount", @placeholder = "", required = "required", type = "number" })
                                            </div>
                                            <div class="form-group">
                                                <label>Work Order Amount (Rs.) </label>
                                                @Html.TextBox("txtWorkOrderAmount", Model.HeisIdentificationDetail.WorkOrderAmount,
                                               new { @class = "form-control", @id = "txtWorkOrderAmount", @placeholder = "", required = "required", type = "number" })
                                            </div>
                                            <div class="form-group">
                                                <label>Estimated Govt. Share (Rs.) </label>
                                                @Html.TextBox("txtEstimatedGovtShare", Model.HeisIdentificationDetail.EstimatedGovtShare,
                                               new { @class = "form-control", @id = "txtEstimatedGovtShare", @placeholder = "", required = "required", type = "number" })
                                            </div>
                                            <div class="form-group">
                                                <label>Estimated Famer Share (Rs.) </label>
                                                @Html.TextBox("txtEstimatedFamerShare", Model.HeisIdentificationDetail.EstimatedFamerShare,
                                               new { @class = "form-control", @id = "txtEstimatedFamerShare", @placeholder = "", required = "required", type = "number" })
                                            </div>
                                            <div class="form-group">
                                                <label>Farmer Share in Cash (Rs.) </label>
                                                @Html.TextBox("txtFarmerShareInCash", Model.HeisIdentificationDetail.FarmerShareInCash,
                                               new { @class = "form-control", @id = "txtFarmerShareInCash", @placeholder = "", required = "required", type = "number" })
                                            </div>
                                            <div class="form-group">
                                                <label>Farmer Share in Kind (Rs.) </label>
                                                @Html.TextBox("txtFarmerShareInKind", Model.HeisIdentificationDetail.FarmerShareInKind,
                                               new { @class = "form-control", @id = "txtFarmerShareInKind", @placeholder = "", required = "required", type = "number" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Material Verification (ICR-I) -->

                                            <div class="form-group">
                                                <label>Material Verified</label>
                                                <select id="ddlImprovementType" name="ddlImprovementType" class="form-control" required>
                                                    <option value="">--Select--</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                    <option value="Offered">Offered</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>Material Verified Date</label>
                                                @Html.TextBox("txtMaterialVerifiedDate", Model.HeisIdentificationDetail.MaterialVerifiedDate,
                                               new { @class = "form-control", @id = "txtMaterialVerifiedDate", required = "required" })
                                            </div>

                                            <div class="form-group">
                                                <label>ICR-I Amount Verified (Rs.)</label>
                                                @Html.TextBox("txtICRIAmountVerified", Model.HeisIdentificationDetail.ICRIAmountVerified,
                                               new { @class = "form-control", @id = "ICRIAmountVerified", required = "required", type = "number" })
                                            </div>
                                            <div class="form-group">
                                                <label>Commissioning Verification</label>
                                                <select id="ddlCommissioningVerification" name="ddlCommissioningVerification" class="form-control" required>
                                                    <option value="">--Select--</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                    <option value="Offered">Offered</option>
                                                    <option value="Deferred">Deferred</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>ICR-I Amount Verified (Rs.)</label>
                                                @Html.TextBox("txtICRIAmountVerified", Model.HeisIdentificationDetail.ICRIAmountVerified,
                                               new { @class = "form-control", @id = "ICRIAmountVerified", required = "required", type = "number" })
                                            </div>

                                            <div class="form-group">
                                                <label>Commissioning Verification Date</label>
                                                @Html.TextBox("txtCommissioningVerificationDate", Model.HeisIdentificationDetail.CommissioningVerificationDate,
                                               new { @class = "form-control", @id = "txtFCRDropStructure", required = "required" })
                                            </div>

                                            <div class="form-group">
                                                <label> Total Scheme Cost Verified (Rs.)</label>
                                                @Html.TextBox("txtTotalSchemeCostVerified", Model.HeisIdentificationDetail.TotalSchemeCostVerified,
                                               new { @class = "form-control", @id = "txtTotalSchemeCostVerified", @placeholder = "", required = "required", type = "number" })
                                            </div>

                                            <div class="form-group">
                                                <label>ICR-II Amount Verified (Rs.) </label>
                                                @Html.TextBox("txtICRIIAmountVerified", Model.HeisIdentificationDetail.ICRIIAmountVerified,
                                               new { @class = "form-control", @id = "txtICRIIAmountVerified", @placeholder = "", required = "required", type = "number" })
                                            </div>
                                            <div class="form-group">
                                                <label>ICR-III Verification</label>
                                                <select id="ddlCommissioningVerification" name="ddlCommissioningVerification" class="form-control" required>
                                                    <option value="">--Select--</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                    <option value="Offered">Offered</option>

                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label> Total Amount Verified (Rs.)</label>
                                                @Html.TextBox("txtTotalAmountVerified", Model.HeisIdentificationDetail.TotalAmountVerified,
                                               new { @class = "form-control", @id = "txtTotalAmountVerified", @placeholder = "", required = "required", type = "number" })
                                            </div>

                                            <div class="form-group">
                                                <label>ICR-III Qualifying Date </label>
                                                @Html.TextBox("txtICRIIIQualifyingDate", Model.HeisIdentificationDetail.ICRIIIQualifyingDate,
                                               new { @class = "form-control", @id = "txtICRIIIQualifyingDate", @placeholder = "", required = "required", type = "number" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="../content/assets/js/pages/validation/form-validation.js"></script>
    <!-- Include SmartWizard JavaScript source -->
    <script src="../content/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    @*<script src="../content/assets/js/pages/smart-wizard/wizard-data.js"></script>*@
    <script type="text/javascript">



    $(document).ready(function () {
        $("#ddlImprovementType").val('@(Model.HeisIdentificationDetail.ImprovementType)').change();
        $("#ddlProjectName").val('@(Model.HeisIdentificationDetail.ProjectName)').change();
        $("#ddlMoghaType").val('@(Model.HeisIdentificationDetail.MoghaType)').change();
        $("#ddlGroundwaterQuality").val('@(Model.HeisIdentificationDetail.GroundwaterQuality)').change();

        $("#ddlDesignApproved").val('@(Model.HeisIdentificationDetail.DesignApproved)').change();

        $("#ddlPCPSegmentSize").val('@(Model.HeisIdentificationDetail.PcpSegmentSize)').change();

        $("#ddlICR1").val('@(Model.HeisIdentificationDetail.ICR1ApprovedStatus)').change();
        $("#ddlICR2").val('@(Model.HeisIdentificationDetail.ICR2ApprovedStatus)').change();

        $("#ddlFCRApproved").val('@(Model.HeisIdentificationDetail.FCRApprovedStatus)').change();
        $("#ddlFCRPCPSegmentSize").val('@(Model.HeisIdentificationDetail.FCRPcpSegmentSize)').change();

        $.ajax({
            url: '/WaterCourses/LoadFinancialYears',
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                $(data.FinancialYears).each(function () {
                    //this refers to the current item being iterated over
                    var option = $('<option />');
                    option.attr('value', this.Id).text(this.Year);
                    $('#ddlImprovementYear').append(option);
                });

                $("#ddlImprovementYear").val('@(Model.HeisIdentificationDetail.ImprovementYearId)');
            }
        });


        $("#frmBasicInformation").validate({
                errorClass: 'help-block',
                validClass: 'success',
                errorElement: "span",
                highlight: function (element, errorClass, validClass) {
                    $(element).parents("div.form-group").addClass('has-error').removeClass(validClass);
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents("div.form-group").removeClass('has-error').addClass(validClass);
                },
                rules: {
                    txtLatitude: {
                        required: true,
                        // Using the normalizer to trim the value of the element
                        // before validating it.
                        //
                        // The value of `this` inside the `normalizer` is the corresponding
                        // DOMElement. In this example, `this` references the `username` element.
                        normalizer: function (value) {
                            return $.trim(value);
                        }
                    }
                },
                // Specify validation error messages
                messages: {
                    txtLatitude: "Please enter Latitude"
                },
            });

            $("#frmDesignParameters").validate({
                errorClass: 'help-block',
                validClass: 'success',
                errorElement: "span",
                highlight: function (element, errorClass, validClass) {
                    $(element).parents("div.form-group").addClass('has-error').removeClass(validClass);
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents("div.form-group").removeClass('has-error').addClass(validClass);
                },
                rules: {
                    txtTSAmount: {
                        required: true,
                        // Using the normalizer to trim the value of the element
                        // before validating it.
                        //
                        // The value of `this` inside the `normalizer` is the corresponding
                        // DOMElement. In this example, `this` references the `username` element.
                        normalizer: function (value) {
                            return $.trim(value);
                        }
                    }
                },
                // Specify validation error messages
                messages: {
                    txtTSAmount: "Please enter TSAmount"
                },
            });

            $("#frmICR1and2").validate({
                errorClass: 'help-block',
                validClass: 'success',
                errorElement: "span",
                highlight: function (element, errorClass, validClass) {
                    $(element).parents("div.form-group").addClass('has-error').removeClass(validClass);
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents("div.form-group").removeClass('has-error').addClass(validClass);
                },
                rules: {
                    txtICR1ReleasedAmount: {
                        required: true,
                        // Using the normalizer to trim the value of the element
                        // before validating it.
                        //
                        // The value of `this` inside the `normalizer` is the corresponding
                        // DOMElement. In this example, `this` references the `username` element.
                        normalizer: function (value) {
                            return $.trim(value);
                        }
                    }
                },
                // Specify validation error messages
                messages: {
                    txtICR1ReleasedAmount: "Please enter Released Amount"
                },
            });

        $("#frmFCR").validate({
            errorClass: 'help-block',
            validClass: 'success',
            errorElement: "span",
            highlight: function (element, errorClass, validClass) {
                $(element).parents("div.form-group").addClass('has-error').removeClass(validClass);
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents("div.form-group").removeClass('has-error').addClass(validClass);
            },
            rules: {
                txtFCRLined: {
                    required: true,
                    // Using the normalizer to trim the value of the element
                    // before validating it.
                    //
                    // The value of `this` inside the `normalizer` is the corresponding
                    // DOMElement. In this example, `this` references the `username` element.
                    normalizer: function (value) {
                        return $.trim(value);
                    }
                }
            },
            // Specify validation error messages
            messages: {
                txtFCRLined: "Please enter FCR Lined"
            },
        });

            // Step show event
            $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
                //alert("You are on step " + stepNumber + " now");
                if (stepPosition === 'first') {
                    $("#prev-btn").addClass('disabled');
                } else if (stepPosition === 'final') {
                    $("#next-btn").addClass('disabled');
                } else {
                    $("#prev-btn").removeClass('disabled');
                    $("#next-btn").removeClass('disabled');
                }
            });

            // Toolbar extra buttons
            var btnFinish = $('<button></button>').text('Save and Close')
                .addClass('btn btn-info')
                .on('click', function () {

                    debugger;
                    var valid = $("#frmFCR").valid();
                    if (valid) {
                        if (valid) {
                            var form = new FormData($("form[name='frmFCR']")[0]);
                        $.ajax({
                                url: '@Url.Action("AddUpdateFCR", "WaterCourses")',
                                data: form,
                                headers: { 'x-my-custom-header': 'some value' },
                                type: 'POST',
                                contentType: false,
                                processData: false,
                                async: false,
                                cache: false,
                                timeout: 30000,
                            success: function (data) {

                                alert('All Data Saved');
                                window.location.replace("http://localhost:57441/WaterCourses/Index");
                                    debugger;
                                    if (data.ResponseCode == 1000) {

                                    } else {

                                    }
                                        console.log(data);
                                    },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    valid = false;
                                    alert(xhr.status);
                                    alert(thrownError);
                                }
                            });
                    }
                    }
                    return valid;

                });
            var btnCancel = $('<button></button>').text('Cancel')
                .addClass('btn btn-danger')
                .on('click', function () { $('#smartwizard').smartWizard("reset"); });

            $("#smartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
                if (stepNumber == 0) {
                    var valid = $("#frmBasicInformation").valid();
                    if (valid) {
                        var form = new FormData($("form[name='frmBasicInformation']")[0]);
                        $.ajax({
                                url: '@Url.Action("AddUpdateWatercourseDetails", "WaterCourses")',
                                data: form,
                                headers: { 'x-my-custom-header': 'some value' },
                                type: 'POST',
                                contentType: false,
                                processData: false,
                                async: false,
                                cache: false,
                                timeout: 30000,
                                success: function (data) {
                                    debugger;
                                    if (data.ResponseCode == 1000 && $('#hdHeisIdentificationDetailsIdBI').val() == "0") {
                                        //data.DataObject.Id
                                        $('#hdHeisIdentificationDetailsIdBI').val(data.DataObject.Id);
                                        $('#hdHeisIdentificationDetailsIdDP').val(data.DataObject.Id);
                                        $('#hdHeisIdentificationDetailsIdICR').val(data.DataObject.Id);
                                        $('#hdHeisIdentificationDetailsIdFCR').val(data.DataObject.Id);
                                    } else {

                                    }
                                        console.log(data);
                                    },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    valid = false;
                                    alert(xhr.status);
                                    alert(thrownError);
                                }
                            });
                    }

                    return valid;
                } else if (stepNumber == 1) {
                    var valid = $("#frmDesignParameters").valid();
                    if (valid) {
                        if (valid) {
                            var form = new FormData($("form[name='frmDesignParameters']")[0]);
                        $.ajax({
                                url: '@Url.Action("AddUpdateDesignParameters", "WaterCourses")',
                                data: form,
                                headers: { 'x-my-custom-header': 'some value' },
                                type: 'POST',
                                contentType: false,
                                processData: false,
                                async: false,
                                cache: false,
                                timeout: 30000,
                                success: function (data) {
                                    debugger;
                                    if (data.ResponseCode == 1000) {

                                    } else {

                                    }
                                        console.log(data);
                                    },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    valid = false;
                                    alert(xhr.status);
                                    alert(thrownError);
                                }
                            });
                    }
                    }
                    return valid;
                }
                else if (stepNumber == 2) {
                    var valid = $("#frmICR1and2").valid();
                    if (valid) {
                        if (valid) {
                            var form = new FormData($("form[name='frmICR1and2']")[0]);
                        $.ajax({
                                url: '@Url.Action("AddUpdateICR1AndICR2", "WaterCourses")',
                                data: form,
                                headers: { 'x-my-custom-header': 'some value' },
                                type: 'POST',
                                contentType: false,
                                processData: false,
                                async: false,
                                cache: false,
                                timeout: 30000,
                                success: function (data) {
                                    debugger;
                                    if (data.ResponseCode == 1000) {

                                    } else {

                                    }
                                        console.log(data);
                                    },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    valid = false;
                                    alert(xhr.status);
                                    alert(thrownError);
                                }
                            });
                    }
                    }
                    return valid;
                } else if (stepNumber == 3) {
                    alert('finish');
                }
            });

            // Smart Wizard
            $('#smartwizard').smartWizard({
                selected: 0,
                theme: 'default',
                transitionEffect: 'fade',
                showStepURLhash: false,
                toolbarSettings: {
                    toolbarPosition: 'both',
                    toolbarExtraButtons: [btnFinish, btnCancel]
                }
            });

            // External Button Events
            $("#reset-btn").on("click", function () {
                // Reset wizard
                $('#smartwizard').smartWizard("reset");
                return true;
            });

            $("#prev-btn").on("click", function () {
                // Navigate previous
                $('#smartwizard').smartWizard("prev");
                return true;
            });

            $("#next-btn").on("click", function () {
                // Navigate next
                $('#smartwizard').smartWizard("next");
                return true;
            });

            $("#theme_selector").on("change", function () {
                // Change theme
                $('#smartwizard').smartWizard("theme", $(this).val());
                return true;
            });

            // Set selected theme on page refresh
            $("#theme_selector").change();
    });




    </script>
}
